@page
@model Gasolin_gas_på_livet_1._1.Pages.Franz_BeckerleeModel
@{
	ViewData["Title"] = "Franz Beckerlee";
}
<div>
	<h1>Franz Beckerlee</h1>
	<img src="~/img/franz beckerlee.jpg" />
	<p>
		Franz Beckerlee (født 1945) er en dansk musiker, komponist og saxofonist, der er kendt som en af Danmarks mest innovative og eksperimenterende jazz- og rockmusikere. Han fik først stor opmærksomhed som medlem af det legendariske rockband Gasolin’ i 1970’erne, hvor han spillede saxofon og fløjte og bidrog til bandets unikke lydbillede. Beckerlees improvisationstalent og eksperimenterende tilgang til musik skilte ham ud og gjorde ham til en vigtig del af bandets kreative kraft.
		Efter Gasolin’s opløsning i 1978 fortsatte Beckerlee sin karriere i den eksperimenterende jazzscene, hvor han udforskede grænserne mellem jazz, rock og avantgarde-musik. 
	</p>
	<p>
		Han har samarbejdet med en lang række danske og internationale kunstnere og har udgivet flere soloalbums, der viser hans tekniske dygtighed og kreative vision. Beckerlee er også kendt for sit arbejde som komponist og har skrevet musik til film, teater og ballet.
		Gennem årene har Franz Beckerlee opbygget et ry som en af de mest alsidige og nyskabende musikere i Danmark. Hans bidrag til både rock- og jazzscenen har haft en varig indflydelse, og han fortsætter med at inspirere nye generationer af musikere med sin nysgerrighed og kunstneriske mod.
	</p>
</div>