@page
@model IndexModel
@{
    ViewData["Title"] = "Gasolin'";
}

<div class="text-center">
    <h1 class="display-4 IndexFont"><b>Gasolin'</b></h1>
    <h2 class="display-3 IndexFont"><b>Livet på Gas</b></h2>
</div>
<!-- introduction Carousel-->
<div id="IndexPictures" class="carousel slide" data-bs-ride="Carousel">
    <!--code that makes the button so you can manually switch pictures-->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#IndexPictures" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#IndexPictures" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#IndexPictures" data-bs-slide-to="2"></button>
    </div>
    <!--The pictures for the slideshow-->
    <div class="Carousel-inner">
        <div class="carousel-item acive">
			<img src="~/images/standard_compressed_gasolin-3099545233.jpg" alt="Gas Album cover" class="d-block w-100 rounded" />
        </div>
        <div class="carousel-item">
            <img src="~/images/k2ewcpwa6rc4cwtlad8xok41-609151966.jpg" alt="Gruppe billede 1" class="d-block w-100 rounded" />
        </div>
        <div class="carousel-item">
			<img src="~/images/nationalskjald-kim-larsen-er-doed---72-aar-3357702441.jpg" alt="Gruppe billede2" class="d-block w-100 rounded" />
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#IndexPictures" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class=" carousel-control-next" type="button" data-bs-target="#IndexPictures" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>