@page
@model Gasolin_gas_på_livet_1._1.Pages.Kim_LarsenModel
@{
	ViewData["Title"] = "Kim Larsen";
}
<div>
	<h1>Kim Larsen</h1>
	<img src="~/img/kim larsen1.jpg" /> 
	
	<p>Kim Larsen (1945-2018) var en af Danmarks største musikalske ikoner – en mand, hvis stemme og tekster har præget generationer af danskere. Han startede sin karriere i 1970’erne som frontfigur i rockbandet Gasolin’, der med deres unikke blanding af rock, folk og poesi blev en kæmpe succes. Gasolin’ lavede hits som "This Is My Life", "Stakkels Jim" og "Rabalderstræde", der stadig synges med glæde på danske fester og lejligheder.
Efter Gasolin’s opløsning i 1978 valgte Kim Larsen at lancere en solokarriere, der cementerede hans status som en folkelig helt. Med albums som "Værsgo" (1983) og "231045-0637" (1994) viste han sin alsidighed som musiker og sangskriver.
	<p>
		Hans musik var en blanding af rock, pop, folk og endda lidt jazz, og hans tekster handlede ofte om hverdagens glæder og udfordringer, hvilket gjorde ham utroligt relatable.
		Kim Larsen var mere end bare en musiker – han var en kulturel institution. Hans koncerter var fyldt med energi, humor og hjertelige øjeblikke, og han havde en sjælden evne til at skabe fællesskab gennem sin musik. Han modtog adskillige priser, herunder flere Danish Music Awards, og hans indflydelse på dansk musik er uovertruffen. Selv efter hans død i 2018 lever hans musik videre, og han huskes som en mand, der med sin musik rørte ved hjertet af et helt land.
	</p>
</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/UY0g_SJjA6Q?si=cHbULeiBLLGfwRlh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

