@page
@model memorobiliaModel
@{
	ViewData["Title"] = "memorabilia";
}
<h1></h1>
<p>Gasolin – et navn, der resonerer dybt i dansk musikhistorie og i hjertet af flere generationer. Fra deres beskedne begyndelser i starten af 1970’erne til deres status som en af Danmarks mest populære rockbands, har Gasolin sat varige spor i både dansk og nordisk musiklandskab. Deres musik, der blander rock, folk og pop med en utvungen, dansk ånd, har ikke kun formet lydbilledet af en æra, men også skabt en følelse af fællesskab og identitet, der stadig rører ved lyttere den dag i dag.</p>
<p>Denne memorabilia er en hyldest til Gasolin – til deres musik, deres historie og deres arv. Gennem billeder, historier og minder tager vi en rejse gennem bandets karriere, fra de tidlige dage i Rødovre til deres storhedstid på de danske og internationale scener. Vi kaster lys på de sange, der blev soundtracket til en generation, og de koncerter, der samlede tusinder i fællessang.</p>
<p>Gasolin var mere end bare et band – de var en følelse, en bevægelse og en del af Danmarks kulturarv. Denne samling er en invitation til at dykke ned i deres verden, mindes de øjeblikke, de skabte, og fejre den musik, der stadig lever videre. Velkommen til en rejse gennem Gasolins univers – en rejse fyldt med energi, melankoli og den evige kraft i musikken.</p>
<div class="imgSmaller">
	<a target="_blank" href="~/img/frans halskæde.png">
		<img src="~/img/frans halskæde.png" alt="Frans beckerlee halskæde" width="200%" height="200%" />
	</a>
</div>

<p>TAK FOR LÅN. Franz Beckerlees famøse halskæde bestod af mange små vedhæng, han havde fået af forskellige venner. Han har venligst udlånt den til udstillingen om Gasolin’. Nu er den pakket nænsomt ned og på vej tilbage til ejermanden. Foto: RAGNAROCK/Jakob Caspersen</p>
<p>Den smukke halskæde, der nu skinner på skærmen, er mere end bare et stykke smykke – den er et symbol på værdi, personlig stil og historie. Ligesom en halskæde kan bære minder og følelser, så bærer også musikken af Gasolin en dyb betydning for dem, der har lyttet til den. Og netop som denne halskæde har sin egen unikke historie, så har også en særlig Gasolin-vest, doneret af en dedikeret fan, sin egen fortælling at dele.</p>
<img src="~/img/vest.jpg.webp" />
<p>EN FED STIL. Lars Jokumsen har doneret sin gamle vest til RAGNAROCK. Rygdekorationen er broderet af hans daværende kæreste. Vesten er båret til flere koncerter. Det var vigtigt for Lars at vise, at han hørte Gasolin’. De var en del af hans identitet.</p>
<p>en historie, der, ligesom Gasolins musik, er fyldt med passion, dedikation og kærlighed til bandet, der satte Danmark på verdenskortet. Velkommen til en fortælling om, hvordan musik kan forene os, og hvordan en enkelt vest kan blive et symbol på en hel generations kærlighed til Gasolin.</p>