@page
@model Gasolin_gas_på_livet_1._1.Pages.Søren_BerlevModel
@{
	ViewData["Titel"] = "Søren Berlev";
}
´<div>
	<h1>Søren Berlev</h1>
	<div class="imgSmaller">
		<a target="_blank" href="~/img/søren berlev.jpg">
			<img src="~/img/søren berlev.jpg" alt="Søren Berlev" width="200%" />
		</a>
	</div>
	<p>
		Søren Berlev (født 1948) er en dansk trommeslager og musiker, der er bedst kendt som medlem af det legendariske rockband Gasolin’, hvor han spillede en central rolle i bandets storhedstid i 1970’erne. Med sin energiske og præcise trommestil var Berlev en af grundpillerne i Gasolin’s lyd, der kombinerede rock, folk og pop på en måde, der fangede hele Danmark. Han bidrog til bandets ikoniske hits som "This Is My Life", "Stakkels Jim" og "Rabalderstræde", der stadig er fast inventar på danske playlister.
		Efter Gasolin’s opløsning i 1978 fortsatte Søren Berlev sin musikalske karriere og spillede med en lang række kunstnere og bands, både i Danmark og internationalt. 

	</p>
	<p>
		Han har været en efterspurgt studiomusiker og live-trommeslager, kendt for sin alsidighed og sit professionelle spil. Berlev har også arbejdet som producer og har bidraget til flere projekter inden for forskellige musikgenrer.
		Søren Berlev er ikke kun kendt for sit tekniske talent på trommerne, men også for sin beskedne og dedikerede tilgang til musikken. Han har altid været en pålidelig kraft bag scenen, der sætter fællesskabet og musikken i centrum. Hans bidrag til dansk musik, både med Gasolin’ og i hans mange andre projekter, har haft en varig indflydelse, og han fortsætter med at inspirere nye generationer af musikere.
	</p>


</div>